.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.msg {
    font-size: 1.7rem;
    text-align: center;
}

.contact_btn {
    cursor: pointer;
    display: inline-flex;
    padding: 0.3rem;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.4rem;

    color: var(--font-color);
    text-decoration: none;

    /* Add initial border styles */
    border: 3px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    /* Add animation for continuous color change */
    animation: borderAnimation 2s infinite alternate;

    background-color: rgba(243, 243, 243, 0.2);
}

.contact_btn:hover {
    animation: borderAnimationOnHover 1s infinite alternate;
}

@keyframes borderAnimation {
    0% {
        border-color: var(--highlight-color-0);
    }
    100% {
        border-color: var(--highlight-color-2);
    }
}

@keyframes borderAnimationOnHover {
    0% {
        border-color: var(--highlight-color-1);
    }
    100% {
        border-color: var(--highlight-color-2);
    }
}

.icon {
    fill: var(--font-color);
}
