.btn_inactive,
.btn_active {
    border: 3px solid var(--button-color-2);
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

.btn_inactive:hover {
    border: 3px solid var(--button-color-2--darker);
}

.btn_active {
    background-color: var(--button-color-2);
    cursor: default;
}
