.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "prev_btn project_showcase next_btn";
}

.project_showcase {
    grid-area: project_showcase;
}

.btn_container_prev {
    grid-area: prev_btn;
}

.btn_container_next {
    grid-area: next_btn;
}

.next_btn,
.prev_btn {
    background-color: rgb(201, 201, 201);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.btn_desc_container {
    display: inline-flex;
    justify-self: center;
    align-self: center;
    flex-direction: column-reverse;
}

.tooltip {
    position: absolute;
    margin-bottom: 2rem;

    display: none;
}

.btn_desc_container {
    position: relative;
}

.next_btn:hover + .tooltip {
    display: block;
}

.prev_btn:hover + .tooltip {
    display: block;
}
