body {
    background-color: var(--main-background);
    color: var(--font-color);

    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --main-background: #ffffff;
    --background-1: #e6e6e6;
    --background-1-hover: #d8d8d8;
    --background-2: rgb(238, 238, 238);

    --navigation-bar-background: rgba(255, 255, 255, 0.7);
    --floating-link-bar-background: rgba(0, 0, 0, 0.75);
    --border-color-box-1: rgb(194, 194, 194);
    --project-slider-hero-background: white;

    --scrollbar-background: rgb(192, 192, 192);
    --scrollbar-background-thumb: #828282;
    --scrollbar-background-border: #505050;

    --font-color: #000000;
    --font-color-2: #000000;

    --button-color-2: #749976;
    --button-color-2--darker: #2f5530;

    --primary-button: rgb(183, 183, 183, 0.7);
    --primary-button-hover: rgb(183, 183, 183, 1);
}

[data-theme="dark"] {
    --main-background: #1b1b1b;
    --background-1: #414141;
    --background-1-hover: #4c4c4c;
    --background-2: #414141;

    --navigation-bar-background: rgb(75, 75, 75, 0.7);
    --floating-link-bar-background: rgba(0, 0, 0, 0.75);
    --border-color-box-1: rgb(1, 1, 1);
    --project-slider-hero-background: #5f5f5f;

    --scrollbar-background: rgb(216, 216, 216);
    --scrollbar-background-thumb: #828282;
    --scrollbar-background-border: #3a3a3a;

    --font-color: rgb(216, 216, 216);
    --font-color-2: #f0f0f0;

    --button-color-2: #4a624b;
    --button-color-2--darker: #244124;

    --primary-button: rgb(183, 183, 183, 0.7);
    --primary-button-hover: rgb(183, 183, 183, 1);
}

html {
    scroll-behavior: smooth;
}
