body {
    margin: 0;
    padding: 0;
}

:root {
    --font-color: #000000;
    --main-background: #ffffff;
    --background-1: #e6e6e6;
    --background-1-hover: #d8d8d8;
    --navigation-bar-background: rgba(255, 255, 255, 0.7);

    --button-color-2: #749976;
    --button-color-2--darker: #2f5530;
}

html {
    scroll-behavior: smooth;
}
