.app {
    padding: 2rem;
    display: grid;
    grid-template-areas:
        "header"
        "main_content"
        "footer";
    flex-direction: column;
}

@media (width >= 1000px) {
    .app {
        width: 90%;
        margin: 0 auto;
    }
}

@media (width >= 1500px) {
    .app {
        width: 70%;
        margin: 0 auto;
    }
}

@media (width >= 2000px) {
    .app {
        width: 65%;
        margin: 0 auto;
    }
}

@media (width <= 600px) {
    .app {
        padding: 0.8rem;
    }
}

.main_content {
    grid-area: main_content;
}

.navigation_container {
    grid-area: header;
    display: flex;
    justify-content: flex-end;

    position: sticky;
    top: 10px;

    z-index: 100;
}

.footer {
    grid-area: footer;
    margin-top: 4rem;
}
