.container {
    height: 90vh;
}

.content {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-areas: "description_area" "image_area";
}

.description_container {
    grid-area: description_area;
    font-size: 1.2rem;
}

.image_section {
    grid-area: image_area;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (width <= 940px) {
    .content {
        grid-template-areas: "description_area description_area" "image_area";
    }

    .description_container {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .image_section {
        display: block;
    }
}
